<main class="">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-3">
      <div class="col-lg-5 text-center text-lg-start mb-3">
        <figure>
          <img src="/img/Img1.jpg" alt="Description of the image" />
        </figure>
      </div>

      <div class="col-md-10 mx-auto col-lg-7 mb-5">
        <!-- Inspiration: https://codepen.io/abol/pen/arPeZz -->
        <h1 class="display-4">Jmllem</h1>
        <p>
          <h3>Student | Korea National University of Transportation</h3> <br>
          <h3>Freelancer <br></h3>
          <h4>Designer. Video/Photo Artist<br>
          Team.  雪緣<br>
          Skilled - Premiere Pro,  After Effect, Davinci Resolve 18, PhotoShop, Lightroom.<br>
          <br>
          Use Tools - 3D Program(Blender, MAYA) etc.</h4>
        </p>
      </div>
    </div>
  </div>
</main>
